@model IEnumerable<Assessment.Web.Models.LivroViewModel>


<div class="well well-sm">
    <strong>Category Title</strong>
    <div class="btn-group">
        <a href="#" id="list" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-th-list">
            </span>List
        </a> <a href="#" id="grid" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-th"></span>Grid
        </a>
    </div>
</div>
<div id="products" class="row list-group ">

    @Html.AntiForgeryToken()
    @foreach (var item in Model)
    {

        <div class="item col-xs-4 col-lg-4 ">
            <div class="thumbnail">
                @*@if (item.Image != null)
                        {
                        <div class="image col-sm-3 col-md-3">
                            <p>Imagem:</p>
                            <img class="group list-group-image" src="@Html.DisplayFor(modelItem => item.Image)" alt="...">
                        </div>

                    }*@
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Titulo : @Html.DisplayFor(modelItem => item.Titulo)
                    </h4>
                    <ul>
                        <li>
                                @foreach (var item2 in item.Autores)
                                {
                                    @Html.LabelFor(modelItem => item.Autores, htmlAttributes: new { @class = "group inner list-group-item-text" }) <text> : </text>
                                    @Html.DisplayFor(modelitem2 => item2.Sobrenome, new
                                    {
                                        htmlAttributes = new { @class = "group inner list-group-item-text" } })<text>, </text>@Html.DisplayFor(modelItem2 => item2.Nome, new { htmlAttributes = new { @class = "group inner list-group-item-text" } }) <br />
                                }
                            </li>

                        <li>
                            @Html.LabelFor(modelItem => item.Editora, htmlAttributes: new { @class = "group inner list-group-item-text" }) :
                            @Html.DisplayFor(modelItem => item.Editora, new { htmlAttributes = new { @class = "group inner list-group-item-text" } })
                        </li>
                    </ul>

                    <div class="row" style="margin-top:10px;">
                        <div class="col-xs-12 col-md-6">
                            <button class="btn btn-block btn-info" style="margin-top:10px;" onclick="location.href='@Url.Action("Details", "Livro", new { id = item.LivroId })'">Informações</button>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <button class="btn btn-block btn-success" style="margin-top:10px;" onclick="location.href='@Url.Action("Create", "Emprestimo", new { id = item.LivroId})'">Alugar</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-xs-12 col-md-12">
                            <button class="btn btn-block btn-success" onclick="location.href='@Url.Action("AdicionarAutores", "Livro", new { id = item.LivroId})'">Adicionar Autores</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-xs-12 col-md-6">
                            <button class="btn btn-block btn-warning" style="margin-bottom:10px;" onclick="location.href='@Url.Action("Edit", "Livro", new { id = item.LivroId })'">Editar</button>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <button class="btn btn-block btn-danger" style="margin-bottom:10px;" onclick="location.href='@Url.Action("Delete", "Livro", new { id = item.LivroId })'">Excluir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    }
</div>
